<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=sdevqafisdel01;Initial Catalog=Test;Integrated Security=True"/>
    <!--<add name="Conn" connectionString="Data Source=MICHGSQL16T.na.int.grp;Initial Catalog=MohawkRPA;User id=MHK_USR;Password=ZK9v-CGrU-PSeI"/>-->
    <!--<add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>-->
    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  </connectionStrings>
  <appSettings>
    <add key="MasterTablesProcedureName" value="USP_BU_AMS_INSERT_MASTER"/>
    <add key="FileFolderPath" value="C:\Users\E5558025\Desktop"/>
    <add key="DeletingRow" value="3"/>
  </appSettings>
</configuration>